@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

* {
  font-family: 'IBM Plex Sans', 'Avenir', sans-serif;
  box-sizing: border-box;
}

html, body, #root, .App { 
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** <=================================== Login page ========================================> **/
.login-page {
  width: 100%;
  height: 100%;
}

.login-page .login-segment {
  display: inline-block;
  width: 50%;
  height: 100%;
  color: #1b1b1d;
  padding: 50px;
}

.login-page .pattern-segment {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-size: cover;
}

.login-page  .login-segment .logo {
  height: 65px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-horizontal {
  border-bottom: 1px solid #ececec;
  height: 40px;
  margin-top: 50px;
}

.menu-horizontal .option {
  border-bottom: 2px solid #fff;
  width: 150px;
  display: inline-block;
  height: 100%;
  text-align: center;
  transition: ease-in-out 0.2s border-bottom;
  cursor: pointer;
}

.menu-horizontal .option.selected {
  border-bottom: 2px solid #3277f0;
}

.menu-horizontal .option:hover {
  border-bottom: 2px solid #3277f0;
}

.login-form {
  padding: 30px 0;
}

h1.motto {
  font-size: 1.4rem;
  margin: 30px 0;
  color: #a1a1a1;
  font-weight: 400;
}

input.textbox {
  font-size: 1rem;
  line-height: 2.4rem;
  height: 2.4rem;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid #a1a1a1;
  padding: 0 0 0 5px;
}

textarea {
  font-size: 1rem;
  line-height: 1.4rem;
  height: 5.6rem;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid #a1a1a1;
  padding: 0 0 0 5px;
  margin: 10px 0;
}

textarea:focus {
  border: 1px solid #3277f0;
}

input.textbox:focus {
  border: 1px solid #3277f0;
}

button.normal-button {
  background: #3277f0;
  color: #fff;
  width: 150px;
  font-size: 1rem;
  outline: 0;
  border: none;
  height: 2.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out 0.2s background;
}

button.normal-button:hover {
  background: #215cc2;
}

/** <============================ Dashboard =====================================> **/

.dashboard-container {
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding: 40px 0;
  background: #1b1b1d;
}

.sidebar .logo {
  width: 100%;
  height: 65px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 30px;
}

.sidebar .navigation-options {
  padding: 0 30px;
  margin: 35px 0;
  color: #fff;
  text-transform: uppercase;
}

.sidebar .navigation-options h1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 25px 0;
  cursor: pointer;
}

.sidebar .navigation-options h1:hover {
  color: #215cc2;
}


.workbench {
  background: #1b1b1d;
  height: 100%;
  display: inline-block;
  width: 80%;
  vertical-align: top;
  padding: 40px;
}

.workbench h1.title {
  margin-top: 0;
  color: #fff;
  margin-bottom: 7.5px;
}

.workbench h2.instruction {
  margin-top: 0;
  color: #d6d6d6;
  font-size: 1.2rem;
  font-weight: 400;
}

.card {
  height: 350px;
  padding: 30px;
  color: #fff;
  width: 300px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

.card h1 {
  font-size: 1.3rem;
  text-align: center;
}

.card table {
  width: 100%;
}

.card .icon {
  text-align: center;
  font-size: 2.5rem;
}

.card table tr th {
  text-align: left;
}

.card table tr td, .card table tr th {
  padding: 15px 0;
}

.card table tr:not(:last-of-type) th, .card table tr:not(:last-of-type) td {
  border-bottom: 1px solid #646464;
}

.card table tr td {
  text-align: right;
}

.card button {
  border: none;
  background:#3277f0;
  color: #fff;
  outline: none;
  font-size: 0.9rem;
  height: 2.5rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-weight: 600;
  cursor: pointer;
}

.card:not(:first-of-type) {
  margin-left: 20px;
}

.card button:hover {
  background: #215cc2;
}

.card-flex {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.card-flex.low-padding {
  padding: 10px 0;
}

.micro-card {
  height: 200px;
  padding: 20px;
  color: #fff;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
}

.micro-card.width-70 {
  width: 70%;
}

.micro-card:not(:first-of-type) {
  margin-left: 15px;
}

.micro-card h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.micro-card h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #3acf85;
  margin: 0;
}

.micro-card h1.currency {
  font-size: 1.3rem;
  font-weight: 400;
  color: #3acf85;
  margin: 0;
}

.workbench hr {
  opacity: 0;
  margin: 20px 0;
}

.micro-card h1.crypto {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}


/* <================================== File Uploader ====================================> */

.file-uploader {
  color: #fff;
  height: 100%;
}

.file-uploader .upload-segment {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  height: 100%;
}

.file-uploader .instructions-segment {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.file-uploader .upload-segment .upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 100%;
}


.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.visualizer-schemer {
  height: 100%;
  width: 100%;
  color: #fff;
}
.visualizer-schemer h1 {
  margin: 0;
}

.visualizer-schemer h2 {
  margin: 0 0 10px 0;
  font-weight: 300;
}

.visualizer-schemer .nav {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.visualizer-schemer .nav button {
  right: 0;
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 3px;
}

.dataset-preview {
  height: 80%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}